<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Live Chat</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Live chat</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <button (click)="test()">test</button>
    <div class="row">
    <div *ngIf="!this.chat; else elseBlock">
        no data
    </div>

    <ng-template #elseBlock>
    
    <div class="col-sm-6">
        <div *ngFor="let item of this.chat;" >
            {{ item._id }}
            <div class="col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                    <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                    </div>
                </div>
                
            </div>
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">{{ item.Name }}</h3>
                <div class="card-tools">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <span class="badge badge-primary">Label</span>
                </div>
                <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <p>Js Script :{{ item.Script }}</p>
                <p>Style :{{ item.Style }}</p>
                <p>state :{{ item.state }}</p>
                <button class="btn btn-primary" (click)="conversation(item._id,item.state)">access conversation</button>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                The footer of the card
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
    </div>


    </ng-template>

    </div>
</section>
<!-- /.content -->
